<h1>Base Count</h1>
<hr>

<div class="row">

  <div class="col-6">
    <h4>十進位</h4>
    <div class="form-group row">
      <label for="" class="col-form-label col-sm-1">R:</label>
      <div class="col-sm-11">
        <%= text_field_tag "red", nil, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-form-label col-sm-1">G:</label>
      <div class="col-sm-11">
        <%= text_field_tag "green", nil, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-form-label col-sm-1">B:</label>
      <div class="col-sm-11">
        <%= text_field_tag "blue", nil, class: "form-control" %>
      </div>
    </div>
    <p id="from-10-to-16" class="btn btn-primary">轉換</p>
  </div>
  <br>

  <div class="col-1">

  </div>
  <div class="col-5">
    <h4>十六進位</h4>
    <%= text_field_tag "hex" %>
    <p></p>
    <p id="from-16-to-10" class="btn btn-primary">轉換</p>
    <hr>
    <div id="hex-result"></div>
  </div>
</div>

<style media="screen">
  #hex-result {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
  }
</style>

<script type="text/javascript">

  var RGB = ["red", "green", "blue"];

  function count_10_to_16(number) {
    number = parseInt(number);
    hex = number.toString(16);
    return(hex);
  };

  function convert_16_to_10(hex){
    return parseInt(hex, 16);
  };

  function show_color(hex){
    $("#hex-result").css("background-color", "#"+hex);
  };


  $("#from-10-to-16").on("click", function(){
    console.log("from 10 to 16");

    result = new String();

    RGB.forEach(function(color){
      console.log(color);
      var number = $("#"+color).val();
      var hex = count_10_to_16(number);
      console.log(number+"-->"+hex);

      result = result + hex;
    });

    console.log(result);

    $("#hex").val(result);
    show_color(result);
  });

  $('#from-16-to-10').on('click', function(){
    console.log("from 16 to 10");
    var hex = $("#hex").val();
    show_color(hex);

    for (i = 0; i <= 2; i++) {
      color = RGB[i];

      hex_string = hex.slice(i*2, i*2+2);
      console.log(color+": "+hex_string);

      $("#"+color).val(convert_16_to_10(hex_string));
    }
  });

</script>
