<div class="list-group">
  <%= link_to "HOME", root_path, id: "list-index", class: "list-group-item list-group-item-action" %>
  <%= link_to "Base Count", base_count_path, id: "list-base_count", class: "list-group-item list-group-item-action" %>
</div>
